@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-y1sb4f');
	src:url('../fonts/icomoon.eot?#iefix-y1sb4f') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-y1sb4f') format('woff'),
		url('../fonts/icomoon.ttf?-y1sb4f') format('truetype'),
		url('../fonts/icomoon.svg?-y1sb4f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-aid-kit:before {
	content: "\e998";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-circle-right:before {
	content: "\ea42";
}
.icon-film:before {
	content: "\f008";
}
.icon-power-off:before {
	content: "\f011";
}
.icon-headphones:before {
	content: "\f025";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-eye:before {
	content: "\f06e";
}
.icon-cloud:before {
	content: "\f0c2";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-circle-o:before {
	content: "\f10c";
}
.icon-circle:before {
	content: "\f111";
}
.icon-chevron-circle-right:before {
	content: "\f138";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-whatsapp:before {
	content: "\f232";
}

.gris { color: #656464; }
.rojo { color: #d73a3a; }
.blanco {color: #FFF ;}

.x2 { font-size: 2em; padding: 0.4em 0; line-height: 2.1em }